<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http pattern="/CWSFE_CMS_loginPage" security="none"/>
    <http pattern="/CWSFE_CMS_loginFailed" security="none"/>
    <http auto-config="false" authentication-manager-ref="customAuthorization">
        <intercept-url pattern="/WEB-INF"/>
        <intercept-url pattern="/CWSFE_CMS/*" access="ROLE_CWSFE_CMS_ADMIN"/>
        <form-login
                login-page="/CWSFE_CMS_loginPage"
                authentication-failure-url="/CWSFE_CMS_loginFailed"
                default-target-url="/CWSFE_CMS/Main"
                login-processing-url="/j_spring_security_check"
                />
        <!--<session-management invalid-session-url="/timeout.htm"/>-->
        <access-denied-handler error-page="/CWSFE_CMS_loginFailed"/>
        <logout logout-success-url="/CWSFE_CMS_loginPage" invalidate-session="true"
                logout-url="/CWSFE_CMS_logout"/>
                <!--logout-url="/j_spring_security_logout"/>-->
    </http>

    <authentication-manager alias="customAuthorization">
        <authentication-provider ref="customAuthenticationProvider"/>
    </authentication-manager>

    <beans:bean id="customAuthenticationProvider" class="eu.com.cwsfe.cms.login.CustomAuthProvider"/>

</beans:beans>
