/* =blog-post
-----------------------------------------------------------------------------------------------*/

.blog-post{ position:relative; padding: 0 10px 0 90px; }
.blog-post-title{ margin:0 0 15px 0; border-bottom:1px solid #f5f5f5; padding:10px 0 15px 0;  }
.blog-post-date{ position:absolute; left:0; top:0; width:50px; border:1px solid #f0f0f0; padding:26px 10px 19px 10px; text-align:center; font-size:32px; }
.blog-post-date span{ display:block; margin-top:10px; color:#777; text-transform:uppercase; font-size:10px; }
.blog-post-thumb{ margin-bottom:20px; }
.blog-post-info{
    list-style: none outside;
    margin-bottom:10px; }
.blog-post-info li{ float:left; margin-right:15px; padding:0 0 5px 25px; }
.blog-post-info	.author{ background:url('/resources-cwsfe/img/layout/images/bg-author.png') no-repeat 0 2px; }
.blog-post-info	.categories{ background:url('/resources-cwsfe/img/blog/bg-categories.png') no-repeat 0 3px; }
.blog-post-info .comments{ background:url('/resources-cwsfe/img/blog/bg-comments.png') no-repeat 0 3px; }
.blog-post-readmore{ margin-bottom:0; }

/* =blog-navigation
-----------------------------------------------------------------------------------------------*/
.blog-navigation{ margin-left:90px; color:#efefef; }

/* =blog-post-comment  ( blog post page comment section )
-----------------------------------------------------------------------------------------------*/
.blog-post-comment{ margin-top:20px; border-bottom:1px solid #efefef; padding-bottom:10px; }
.blog-post-comment .who{ margin-bottom:10px; }
.blog-post-comment .who span{ color:#999; }
.blog-post-comment .bordered{ margin:0 20px 0 0; padding:5px; }
.blog-post-comment-reply{ margin-left:90px; }
