/* =portfolio-filter ( main portfolio page )
-----------------------------------------------------------------------------------------------*/

#portfolio-filter{ list-style:none; margin-bottom:0; }
#portfolio-filter li{ float:left; }
#portfolio-filter a{ display: block; border-left:1px solid #efefef; padding:0 10px; }
#portfolio-filter a:hover{ text-decoration:underline; }
#portfolio-filter li.first a{ border-left:none; padding-left:0; }
#portfolio-filter li.current a{ color:#F28133; }
#portfolio-filter li.current a:hover{ text-decoration:none; }

/* =portfolio-overview ( main portfolio page )
-----------------------------------------------------------------------------------------------*/
.portfolio-overview{}

.portfolio-overview ul{
    list-style: none outside;
    margin-bottom:-30px; }
.portfolio-overview li{ float:left; margin:0 20px 30px 0; width:238px; position:relative;
    padding:0 20px 30px 20px;  border:1px solid #ddd; border-top:none; text-align:center; }
.portfolio-overview li.last{ margin-right:0; }

.portfolio-item-preview{ position:relative;  }

.ie7 .portfolio-item-preview{ height:170px; }

.portfolio-item-preview img{ display:block; margin:0 -21px 20px -21px;  }
.preview-options{ position:absolute; bottom:0; left:-21px; right:0; top:0; width:280px; display:none; }

.preview-options .lightbox{ display:block; position:absolute; top:20px; right:20px; width:26px; height:26px;
    background:url('/resources-cwsfe/img/portfolio/bg-portfolio-preview-options.png') no-repeat top left;
    text-indent:-9999px; cursor:pointer; opacity:0.8; }
.preview-options .view{ display:block; position:absolute; bottom:0; left:0; cursor:pointer; background-color:#F28133; color:#FFFFFF; padding:5px 10px; }

.preview-options .lightbox:hover, .preview-options .view:hover{ opacity:1; }

.portfolio-overview h5{ text-transform:none; }
.ie7 .portfolio-overview h5{ text-transform:none; margin-top:20px; }
.portfolio-overview p{ margin-bottom:0; }

/* =portfolio-pagination ( main portfolio page )
-----------------------------------------------------------------------------------------------*/
.pagination{ list-style:none; float:right; margin-bottom:0; }

.pagination li{ float:left; border-right:1px solid #efefef; padding:0 10px; line-height:16px; }
.pagination li.first{ padding-left:0; }
.pagination li.last{ border-right:none; padding-right:0; }
.pagination li.current a{ color:#000000; }
.pagination li a{ display:block; }

/* =slideshow-portfolio ( single portfolio item )
-----------------------------------------------------------------------------------------------*/
#slideshow-portfolio{ position:relative; margin-bottom:30px; }

#slideshow-portfolio ul{ position:relative; width:580px; height:352px; overflow:hidden; margin-bottom:0; list-style:none; }
#slideshow-portfolio ul li{ width:580px; height:352px; position:relative; }
#slideshow-portfolio ul li img{ position:absolute; top:0; left:0; }

#slideshow-portfolio-pager{ width:15px; text-align:center; z-index:35; position:absolute; right:30px; bottom:32px;  }
#slideshow-portfolio-pager a{
    display:inline-block; width:14px; height:14px;
    margin-left:1px; background:url('/resources-cwsfe/img/layout/images/bg-pager.png') no-repeat 0 0;
    text-align:left; outline-style:none; text-indent:-9999px;
}
#slideshow-portfolio-pager .activeSlide{ background:url('/resources-cwsfe/img/layout/images/bg-pager.png') no-repeat 0 -64px; }

p.portfolio_paragraph {
    height: 40px;
}
